.button {
    width: 60%;
    background-color: var(--white);
    border: solid 2px;
    border-color: var(--green-500);
    padding: 0.2em;
    font-size: 1.4rem;
    transition: background-color 1s;
    color: var(--green-500);
}
.button:hover {
    cursor: pointer;
    background-color: var(--gray-100);
    
}
.button:focus {
    cursor: pointer;
    outline: none;    
    background-color: var(--gray-100);
}
