.container {
  max-width: 72.5rem;
  width: 100%;
  padding: 0 1.5rem;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.heading, .modulesHeading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.heading > h1 {
  font-size: 4rem;
  font-weight: 200;
}
.heading > a, .modulesHeading > button {
  display: flex;
  align-items: center;
  gap: 0.75rem;

  font-size: 2.5rem;
  font-weight: 200;
  transition: color 0.2s;
}
.heading > a:hover, .modulesHeading > button:hover, .configurations > div > button:hover {
  color: var(--green-300);
}

.info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2.5rem;
}

.infoCard {
  aspect-ratio: 1 / 1;
  padding: 1rem;
  border: 1px solid var(--green-500);
  
  display: flex;
  flex-direction: column;
  align-items: center;

  color: var(--green-600);
}
.infoCard h2 {
  font-size: 1.5rem;
  font-weight: 400;
}
.infoCard > div {
  margin-top: auto;
  margin-bottom: auto;

  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}
.infoCard > div > strong {
  flex: 1;

  font-size: 6rem;
  font-weight: 300;
  color: var(--green-600);
}
.infoCard > div > span {
  font-size: 2rem;
  font-weight: 300;
}

.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.weather > svg > path {
  stroke-width: 0.01px !important;
}
.weather > strong {
  font-size: 2.5rem;
  font-weight: 300;
}

.modulesHeading {
  margin-bottom: 1.25rem;
}
.modulesHeading > h2 {
  font-size: 2.5rem;
  font-weight: 300;
}
.modulesHeading > button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modulesGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.5rem;
}

.moduleItem, .moduleEmptyItem {
  border: 1px solid currentColor;

  display: flex;
  flex-direction: column;

  transition: color 0.2s;
}
.moduleItem:hover, .moduleEmptyItem:hover {
  color: var(--green-300);
}

.moduleItemIcon {
  flex: 1;
  aspect-ratio: 1 / 1;
  border-bottom: 1px solid currentColor;
  
  display: grid;
  align-items: center;
  justify-content: center;
}

.moduleItemContent {
  margin: 0 auto;
  padding: 1.25rem;

  text-align: center;
}
.moduleItemContent > h3 {
  font-size: 2rem;
  font-weight: 400;

  margin-bottom: 2.5rem;
}
.moduleItemContent > p {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  font-size: 1.5rem;
  font-weight: 300;
}

.moduleEmptyItem {
  justify-content: center;
}

.moduleEmptyItem h3 {
  font-size: 6rem;
  font-weight: 200;

  writing-mode: vertical-lr;
}

.configurations h2 {
  font-size: 2.5rem;
  font-weight: 300;

  margin-bottom: 2.5rem;
}

.configurations > div {
  max-width: 37.5rem;
  width: 100%;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.configurations > div > button {
  border: none;
  background-color: transparent;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  font-size: 1rem;
  cursor: pointer;
  transition: color 0.2s;
}