.textMenu {
    margin-left: 120px;
}

.menuContainer {
    display: flex;
    margin-left: 100px;
    padding: 20px;
}

.menuContainer>div {
    margin-right: 28px;
}
.menuContainer>a {
    margin-right: 28px;
}