.container {
    padding-left: 115px;
    padding-top: 30px;
    padding-right: 115px;
   
}

.elementocontainer {
    padding-top: 50px;
}
.back {
    float: right;
}
.backText {
    float: right;
    font-size: 1.5rem;
    margin-top: 10px;
}
h1{
    margin-top: 10px;
}
p {
    margin-top: 10px;
}
@media(max-width: 630px) {
    .container {
        padding-left: 50px;
        padding-right: 50px;
       
    }
  }
@media(max-width: 480px) {
    .container {
        padding-left: 5px;
        padding-right: 5px;
       
    }
    
  }

  @media(max-width: 480px) {
    h1{
        font-size: 27px;
    }
    
  }
  