.container {
    padding-left: 115px;
    padding-top: 30px;
    padding-right: 115px;
   
}

.elementocontainer {
    padding-top: 50px;
}

p {
    margin-top: 10px;
}
@media(max-width: 480px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
       
    }
  }