.foundicon{
height: 360px;
width: 360px;
margin: 0 auto;
align-items: center;
text-align: center;
font-weight: 200;
}
.check_circle{
    height: 360px;
    width: 360px;
    font-weight: 100;
    color: var(--green-500);
    margin: 0 auto;    
}

.erroricon{
    font-size: 2rem;
}

.backicon{
    margin: 0 auto;
    display: block;
}
.backicon:hover{
    color: var(--transition-green-300);
}
@media(max-width: 480px) {
    .heading > button {
      font-size: 1.5rem;
      gap: 0;
    }
    .heading > button > svg {
      width: 2rem;
      height: 2rem;
    }
    .check_circle{
      height: 180px;
      width: 180px;
      }
      .foundicon{
        height: 180px;
        width: 180px;
        }
  
  }