.dendroBox{
    border: 2px solid;
    border-color: var(--green-500);
    background-color: var(--green-100);
    min-width: 179px;
    height: 179px;
    transition: background-color 0.5s;
}
.dendroBox:hover{
    background-color: var(--transition-green);
    cursor: pointer;
}
.dendroText{
    text-align: center;
    margin-top: 10px;
}
.dendroIcon {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  margin-top: 50px;
}
@media screen and (max-width: 455px) {
    .dendroBox{
        width: 100%
    }
}