.accessibilityBox{
    display: flex;
    justify-content: flex-end;
    height: 10px;
}
.contrast{
    text-align: end;
}
.contrastText{
    padding-right: 10px;
   
}
.changeSizeText:hover{
    cursor: pointer;
}
.changeSizeText{
    margin-right: 10px;
    height: 100px;
}

