.title{
  color: var(--green-600);
  font-weight: 200;
  font-size: 4rem;
  text-align: center;
}

.btnVoltar{
  color: var(--green-600);
  font-weight: 200;
  font-size: 4rem;
  text-align: center;
  text-decoration: none;
} 
