.iconcard {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.card {
  width: 100%;
  font-size: 1.6rem;
}
.card form{
  width: 100%;
  max-width: 450px;
  justify-self: center;
}

.cardtext {
  color: var(--green-600);
  font-weight: 200;
  font-size: 1.5rem;
}
.container{
  margin-left: 15%;
  margin-right: 15%;
}

.accountText {
  align-items: center;
  align-content: center;
  font-size: 1.4rem;
}

.button{
  margin-left: 50%;
  margin-right: auto;
  border: none;
  background: none;
}

/* Alteração dos campos de input para identificação visual deles */
input {
    font-size: 1.6rem;
    margin-bottom: 10px;
    font-weight: 200;
    border: hidden;
    width: 100%;
    border-bottom: solid;
    background-color: transparent;
}
.btnVoltar {
  color: var(--green-600);
  font-weight: 200;
  display: flex;
  justify-content: flex-end;
}
.operations{
  flex-wrap: wrap;
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}

.mainContent {
  display: grid;
  align-items: center;
}

.oneOperation{
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 90px;
  margin-right: 20px;
  width: 60px;
  text-align: center;
}
.center{
  text-align: center;
}
@media screen and (max-width: 450px) {
  .container{
    margin-left: 3%;
  margin-right: 3%;
  }
}
