.iconcard {
  display: inline-flex;
}

.card {
  width: 100%;
  font-size: 1.6rem;
}

.cardtext {
  color: var(--green-600);
  font-weight: 200;
  font-size: 1.5rem;
}
.container{
  margin-left: 15%;
  margin-right: 15%;
}
.accountIcon {
  float: left;
}

.accountText {
  align-items: center;
  align-content: center;
  font-size: 1.4rem;
}

.button{
  margin-left: 50%;
  margin-right: auto;
  border: none;
  background: none;
}

/* Alteração dos campos de input para identificação visual deles */
input {
    font-size: 1.6rem;
    margin-bottom: 10px;
    font-weight: 200;
    border: hidden;
    border-bottom: solid;
}
.btnVoltar {
  color: var(--green-600);
  font-weight: 200;
  display: flex;
  float: right;
  margin-top: 13px;
}
.operations{
  flex-wrap: wrap;
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.oneOperation{
  height: 90px;
  margin-right: 20px;
  width: 60px;
  text-align: center;
}
.center{
  text-align: center;
}
@media screen and (max-width: 450px) {
  .container{
    margin-left: 3%;
  margin-right: 3%;
  }
}
