.box {
    justify-content: center;
    display: flex;
}

.intoBox {
    text-align: center
}

.greenBox {
    background-color: var(--green-100);
    width: 30em;
    min-height: 500px;
    border: 1px;
    border-color: var(--green-500);
    border-style: solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.text {
    font-size: 2.5rem;
    color: var(--green-600);
}

@media screen {
    @media only screen and (max-width: 482px) {
      .boxItem2 button {
        width: 80%;
        background-color: aqua;
  
      }
  
      .greenBox {
        width: 26.5em;
      }
    }
  
    @media only screen and (max-width: 438px) {
      .greenBox {
        width: 24.5em;
        box-shadow: none;
      }
    }
    @media only screen and (max-width: 400px) {
      .greenBox {
        width: 22.5em;
      }
    }
    @media only screen and (max-width: 362px) {
      .greenBox {
        width: 20em;
      }
    }
  }

.boxItem {
    margin-top: 3rem;
}

.boxItem2 {
    margin-top: 1rem;
}

.textLine::before,
.textLine::after {
    background-color: var(--green-500);
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 25%;
}

.textLine::before {
    right: 0.5em;
    margin-left: -50%;
}

.textLine::after {
    left: 0.5em;
    margin-right: -50%;
}

.textLine{
    margin-top: 3rem;
    color: var(--green-500);
}